 .fa-cat{
     font-size: 2rem;
     color: rgb(233, 202, 103);
 }

 .fa-dog{
     font-size: 2rem;
     color: rgb(95, 170, 175);
 }

  .winner > i {
   animation-duration: 50ms;
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
@keyframes blink {
   from {
      color:#00ff00
   }
   to {
      color:#ff00ff
   }
 }

 .btn {
     height: 10rem;
     width: 10rem;
 }

 #btn_who{
    height: 5rem;
    width: 5rem;
 }
